.background-pricing
{
    background-image: linear-gradient(to right, #0CCDFC, #06A2FC);
    color: #fff;
    padding-top: 5%;
}
#section-img img
{
    width: auto;
    height: auto;
    max-width: 100%;
}