*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif ;

}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #0CCDFC, #06A2FC);
    padding: 0 !important;
}
.navbar-nav li
{
    padding:2 10px;
     
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars
{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;

}

/*-------------------------Bannère------------------------------*/
#banner
{
    background-image: linear-gradient(to right, #0CCDFC, #06A2FC);
    color:  #fff;
    padding-top: 5%;
}
#banner a
{
    color: #fff;
    text-decoration: none;
}
.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.promo-title img
{
    height: 60px;
    padding-bottom: 2px;
}
.waves-botom 
{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */

}




/* -------------------------------------------------------------------------------------------------------------- Login Page --------------------------------------------------------------------------------------------------------------*/



/* -------------------------------------------------------------------------------------------------------------- Tuto Page --------------------------------------------------------------------------------------------------------------*/
