#background-servminecrafttuto
{
    background-image: linear-gradient(to left, #30B6AC, #2B9B93);
    color: #fff;
}
.bvn-txt p
{
    font-size: 30px;
    padding-left: 506px;

}
.endobanner 
{
    padding-left: 50px; 
}