#background-servminecrafttuto
{
    background-image: linear-gradient(to left, #0CCDFC, #06A2FC);
    color: #fff;
}
.bvn-txt p
{
    font-size: 30px;
    padding-left: 506px;

}
.endobanner img
{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.nav-tabs
{
    font-size: 20px;
    font-weight: 700;

}